<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <h1><%= note.title %></h1>
    <p><%= note.content %></p>

    <a href="/notes/edit/<%= note.id %>">EDIT</a>
    <button id="delete-button" data-doc="<%= note.id %>">DELETE</button>
  </body>

  <script>
    const editButton = document.getElementById("edit-button");
    const deleteButton = document.getElementById("delete-button");

    deleteButton.addEventListener("click", () => {
      console.log(deleteButton.dataset.doc);
      console.log(`/notes/${deleteButton.dataset.doc}`);
      fetch(`/notes/${deleteButton.dataset.doc}`, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.error(err));
    });

    // editButton.addEventListener("click", () => {
    //   console.log(editButton.dataset.doc);

    //   fetch(`/notes/edit/${editButton.dataset.doc}`)
    //     .then((response) => response.json())
    //     .then((data) => (window.location.href = data.redirect))
    //     .catch((err) => console.error(err));
    // });
  </script>
</html>
