<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <form
      class="md:w-1/4 m-auto grid grid-cols-1 gap-3 pt-3 p-2"
      id="form"
      data-doc="<%= note.id %>"
    >
      <label class="text-lg font-medium" for="title">Title</label>
      <input
        class="border border-neutral-500 p-1 rounded"
        type="text"
        name="title"
        id="title"
        value="<%= note.title %>"
      />
      <label class="text-lg font-medium" for="content">Content</label>
      <textarea
        class="border border-neutral-500 p-1 rounded"
        name="content"
        id="content"
        cols="30"
        rows="10"
      >
<%= note.content %></textarea
      >
      <button class="bg-[#fed000] py-1 rounded" type="submit">Save Note</button>
    </form>
  </body>

  <script>
    const form = document.getElementById("form");
    form.addEventListener("submit", (e) => {
      e.preventDefault();

      console.log(form.content.value);

      fetch(`/notes/edit/${form.dataset.doc}`, {
        method: "PUT",
        headers: {
          "Content-type": "application/json",
        },
        body: JSON.stringify({
          title: form.title.value,
          content: form.content.value,
        }),
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.error(err));

      console.log(form.title.value);
    });
  </script>
</html>
